{% extends 'base.html.twig' %}

{% block body %}
    <h1>Httplogs list</h1>
    <div>
        {{ form_start(filterForm, {'attr': {'class': 'sk-form-index form-horizontal1 form-inline', 'data-form-submit': "ajax", 'data-history': "1", 'data-format': 'html', 'data-uniue-id': 'sk-http-log-list'} }) }}
        <div class="row sk-http-log-filter filter0">
            <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
                {{ form_errors(filterForm.ip) }}
                {{ form_label(filterForm.ip, null, { 'label_attr': {'class': 'control-label1 col-xs1-5'} }) }}
                {{ form_widget(filterForm.ip, {'attr': {'class': 'form-control text-right', 'data-inputmask': "'alias': 'ip'"}}) }}
            </div>
            <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
                <input type="submit" value="Send">
            </div>
        </div>
        {{ form_widget(filterForm._token) }}
        {{ form_end(filterForm, {'render_rest': false}) }}
    </div>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Url</th>
                <th>Requestbody</th>
                <th>Requestheaders</th>
                <th>Httpstatus</th>
                <th>Ip</th>
                <th>Createdat</th>
                <th>Responsebody</th>
                <th>Responseheaders</th>
                {#<th>Activestate</th>#}
                {#<th>Userid</th>#}
                {#<th>Actions</th>#}
            </tr>
        </thead>
        <tbody>
        {% for httpLog in httpLogs %}
            <tr>
                <td>{{ httpLog.id }}</td>
                <td>{{ httpLog.url }}</td>
                <td>{{ httpLog.requestBody | json_encode() }}</td>
                <td>{{ httpLog.requestHeaders | json_encode() }}</td>
                <td>{{ httpLog.httpStatus }}</td>
                <td>{{ httpLog.ip }}</td>
                <td>{{ httpLog.createdAt | date('Y-m-d H:i:s') }}</td>
                <td>{{ httpLog.responseBody |slice(0, 300) ~ '...' }}</td>
                <td>{{ httpLog.responseHeaders | json_encode() }}</td>
                {#<td>{{ httpLog.activeState }}</td>#}
                {#<td>{{ httpLog.userId }}</td>#}
                {#<td>#}
                    {#<ul>#}
                        {#<li>#}
                            {#<a href="{{ path('sk_http-log_show', { 'id': httpLog.id }) }}">show</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="{{ path('sk_http-log_edit', { 'id': httpLog.id }) }}">edit</a>#}
                        {#</li>#}
                    {#</ul>#}
                {#</td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
